//custom image background on the header


div.wrapper header#branding{
	background: url('../../IUSS.svg');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:85% 30%;
	background-size:180px auto;
	transform: rotate( .0001deg );
}

/*
html body.home div.wrapper header#branding div#svg_IUSS {
    height: 135px;
    width: 180px;
}
*/

/*
Styling the heading
 */

#site-title {
	padding-bottom: 0.5em;
	a {
	font-size:1.4em;
	}

}

#site-description{
	font-size:2em;
	font-weight: 600;
}

/*
Remove the 'read more ' button
*/

a.readmore {
	display:none;
}










/* =Responsive Structure
----------------------------------------------- */
/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {
	.wrapper { 
		width: 708px;
		//background-color:yellow; 
	}
	.container {
		width: 668px;
	}
	.clearfix-half {
		clear: both;
	}
	.clearfix-third {
		clear: none;
	}
	#site-title a img {
		max-width: 668px;	
	}
	.featured-title,
	.featured-content {
		display: none;
	}
	#primary, #secondary, 
	#colophon .widget {
	   float: none;
	   margin-left: 0;
	   width: 100%;
	}
	.slogan-wrap .slogan {
		width: 77.5%;
	}
	.no-sidebar-template #content {
		margin: 0 ;
		width: 100%;
	}
	/* Column */
	.column {
		margin-left: -2.99%;
	}
	.one-half, 
	.one-third, 
	.one-fourth  {
		margin: 0 0 0 2.90%;
	}
	.one-third, .one-fourth {
	    width: 30.43%;
	}	
	.widget_service .one-third, 
	.widget_service .one-fourth {	
		width: 47.02%;
	}
	#colophon .widget-area {
		margin-left: 0;
	}
	#colophon .widget_info, #colophon .widget_text {
		margin-bottom: 30px;
	}
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {
	hr { 
		margin-bottom: 30px;
	}
	input[type="text"], 
	input[type="password"], 
	textarea,
	input[type="reset"], 
	input[type="button"], 
	input[type="submit"]	 { 
		margin-bottom: 20px;
	}
	input.s {		
		margin: 0;
	}
	input.s:focus {
		width: 235px;
	}
	.one-column-template .wrapper, 
	.wrapper { 
		width: 300px;
		//background-color:red; 
	}

	.one-column-template .container, 
	.container {
		width: 280px;
	}
	.wide-layout .wrapper {
	   width: 100%;
	}
	.comments-title, 
	#respond h3#reply-title {
		font-size: 26px;
	   line-height: 32px;
	}
	#content h1, 
	#content h2, 
	#content h3, 
	#content h4, 
	#content h5, 
	#content h6 {
    	padding-bottom: 10px;
	}
	#branding {
		margin-top: 10px;	
	}
	.hgroup-wrap {
	   padding-bottom: 25px;
	   padding-top: 0;
	}
	.hgroup-right {
		margin-top: 32px;
	}
	.hgroup-right .social-profiles {
		display: none;
	}	
	#site-logo {
	   margin-top: 25px;
	   a {
	   	font-size:1em;
	   }
	}
	#site-title a img {
		max-width: 280px;	
	}
	#site-description{
		font-size:1.8em;
		font-weight:500;
	}
	#access { 
		height: 36px;
    	padding: 13px 0 0;
	}
	#access ul { 
		display: none;
	}
	#access select { 
	 	display: block;
		width: 100%;
		background: url(images/responsive-menu-bg.png) right center no-repeat;
		background-size: 28px 22px;
		border: 0 none;
		font: 14px 'PT Sans', sans-serif;
		text-transform: uppercase;
		color: #555;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		height: 22px;
	}
	.page-title-wrap { 
		padding: 10px 0;
	}
	.breadcrumb {
		margin-top: 0px;
    	float: none;
    	text-align: left;
	}
	.slogan-wrap {
    	padding: 15px 0 20px;
	}	
	.slogan-wrap .slogan, 
	.slogan-wrap .view-work {
		float: none;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.slogan-wrap .view-work {
		width: 98%;
		margin: 10px auto 0;
	}
	#main {
    	padding-top: 40px;
	}
	.post-featured-image { 
		margin-bottom: 15px;
	}
	.entry-content {
		padding-bottom: 0px;
	}
	/* Column */
	.column {
		margin-left: 0;
	}
	.one-half, 
	.one-third, 
	.one-fourth,
	.widget_service .one-half,
	.widget_service .one-third, 
	.widget_service .one-fourth {
		margin: 0;
		padding-bottom: 10px;
		width: 100%;
	}
	#content .post {
    	padding-bottom: 30px;
	}
	.tags {
		margin-bottom: 30px;
	}
   .widget_search input.s, 
   .widget_search input.s:focus {
		width: 280px;
	}
   #wp_page_numbers, 
   .wp-pagenavi, 
   #content ul.default-wp-page, 
   .pagination {
	   margin-bottom: 30px;
	}
   #wp_page_numbers ul li.page_info, 
   .wp-pagenavi .pages {
		display: none;
	}
	.wp-caption {
	   margin-bottom: 15px;
	}
	.widget {
    	margin-bottom: 30px;
	}
	.widget_custom-tagcloud { 
		margin-bottom: 22px;
	}
	.widget_article { 
		margin-bottom: 10px;
	}
	.widget_service {
		margin-bottom: 0;
	}
	.widget_recent_work {
	    margin-bottom: 10px;
	}
	.widget_testimonial .testimonial-icon {
		float: none;
		margin-bottom: 15px;
	}
	#colophon {
		margin-bottom: 10px;
	}
	#site-generator .social-profiles, 
   #site-generator .copyright {
    	float: none;
    	width: 100%;
	}
   #site-generator .social-profiles ul {
    	text-align: center;
    	float: none;
   }   
	#site-generator .social-profiles ul li {
    	display: inline-block;
    	float: none;
	}
	#site-generator .copyright {
    	padding-top: 10px;
    	text-align: center;
	}
}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	input.s:focus {
		width: 375px;
	}
	.one-column-template .wrapper, 
	.wrapper { 
	   width: 450px; 
	   //background-color:pink;
	}

	.one-column-template .container, 
	.container {
		width: 420px;
	}
	.wide-layout .wrapper {
	   width: 100%;
	}
	#branding {
		margin-top: 20px;	
	}
	.hgroup-wrap {
    	padding-bottom: 30px;
	}
	.hgroup-right {
		margin-top: 37px;
	} 
	#site-logo {
	   margin-top: 30px;
	}
	#site-title a img {
		max-width: 420px;	
	}
	/* Column */
	.column {
		margin-left: -3.57%;
	}
	.one-half, 
	.one-third, 
	.one-fourth {
		margin: 0 0 0 3.44%;
		width: 46.56%;
	}
	.widget_service .column {	
		margin-left: 0;
	}
	#colophon {
		margin-bottom: 20px;
	}
}

/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {
   .one-column-template .wrapper, 
   .wrapper,
   .one-column-template .container,
   .container { 
   	width: 95%;
   	//background-color:orange; 
   }

}






















//RESPONSIVE Breakpoints

//For screens, everything less than 429px
@media only screen and (max-width : 429px) {
		div.wrapper header#branding{
	background:none;
	}
}

//For screens, everything BETWEEN 430 AND 767
@media only screen and (min-width :430px) and (max-width :767px) {
	div.wrapper header#branding{
	background:none;
}
}

//For screens, everything BETWEEN 768 AND 1078
@media only screen and (min-width : 768px) and (max-width : 1078px) {
	
	.hgroup-right{
		margin-top: 0;
	}
	#site-title a {
		//word-spacing: 1000em;
		line-height: 1em;
		padding-bottom:.4em;
	}
	#site-logo {
		margin-top:32px;
	}

	div.wrapper header#branding{
	background-position:85% 45%;
	background-size:180px auto;
	}

	body div.wrapper header#branding div.container {
		margin-bottom: 60px;
	}
} 